 /* reset css */
 body{
    margin: 0;
    font-family: \5FAE\8F6F\96C5\9ED1,verdana;
    font-size: 14px;
    color: #777777;
  }
  dl{
    margin-top: 0;
    margin-bottom: 0;
  }
  dd{
    margin-left: 0;
  }
  a{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
  }
  a img{
    border: none;
  }
  ul{
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
  }
  p,h1,h2,h3,h4,h5,h6{
    margin-top: 0;
    margin-bottom: 0;
  }
  input,button{
    box-sizing: border-box;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    outline: none;
    padding: 0;
    border: 1px solid transparent;
  }
  button{
    cursor: pointer;
  }
  .clearfix::after{
    display: block;
    content: "";
    clear: both;
    visibility: hidden;
}
  /* utils css */
.header{
    margin-left: auto;
    margin-right: auto;
}
.topbar{
    background-color: #FAFAFA;
    line-height: 30px;
    border-bottom: 1px solid #E4E4E4;
}
.header .inner{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.welcome{
    position: relative;
    float: left;
}
.welcome a{
    display: inline-block;
    height: 30px;
    color: inherit;
    font-size: 12px;
    padding-right: 20px;
}
.welcome .collect{
    width: 18px;
    height: 16px;
    display: inline-block;
    background: url(../images/icons1.png) no-repeat 50% 50%;
    position: absolute;
    background-position: -65px -836px;
    left: 0;
    top: 7px;
    padding-right: 20px;
}
.welcome .co{
    padding-left: 18px;
}
.welcome .co:hover{
    color: #ff8201;
}
.topbar .inner .qlink{
    float: right;
}
.topbar .inner .qlink a{
    position: relative;
    font-family: inherit;
    color: inherit;
    font-size: 12px;
}
.topbar .inner .qlink li{
    display: inline-block;
    position: relative;
}
.topbar .inner .qlink i{
    font-style: normal;
    color: #ccc;
    font-size: 12px;
    margin-left: 5px;
    margin-right: 5px;
}
.topbar .inner .qlink span{
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(../images/icons1.png) no-repeat 50% 50%;
    vertical-align: middle;
    text-align: center;
}
.topbar .inner .qlink .me{
    background-position: -102px -836px;
}
.topbar .inner .qlink .up{
    background-position:-281px -836px;
    margin-top: 7px;
}
.topbar .inner .qlink .custom{
    background-position:-135px -836px;
}
.topbar .inner .qlink .email{
    background-position:-175px -836px;
}
.topbar .inner .qlink .help{
    background-position:-246px -836px;
}
.topbar .inner .qlink .agent{
    background-image: url(../images/wtd.jpg);
}
.header .inner .qlink a:hover{
    color: #ff8201;
}
.topbar .inner .qlink .my a:hover,.header .inner .qlink .hcenter a:hover{
    text-decoration: underline;
    color: #FF8201;
}
.topbar .inner .qlink .my .dropanel{
    display: none;
    box-sizing: border-box;
    background-color: white;
    position: absolute;
    min-width: 100%;
    padding: 36px 8px 0px;
    top: -4px;
    left: -5px;
    box-shadow: 0 0 3px rgba(0,0,0,.25);
    text-align:center;
}
.topbar .inner .qlink .order{
    position: relative;
    font-size: 12px;
}
.topbar .inner .qlink .my .dropanel a{
    display: inline-block;
    width: 50px;
}
.topbar .inner .qlink .my:hover span.up{
    background-position: -318px -836px;
}
.topbar .inner .qlink .my:hover .dropanel{
    display: block;
}
.topbar .inner .qlink .customer .dropanel2{
    display: none;
    box-sizing: border-box;
    position: absolute;
    background-color: white;
    min-width: 100%;
    padding: 13px;
    top: 32px;
    left: -11px;
    box-shadow: 0 0 3px rgba(0,0,0,.25);
}
.topbar .inner .qlink .customer .dropanel2 span{
    background: url(../images/app189.jpg) no-repeat;
    width: 205px;
    height: 94px;
}
.topbar .inner .qlink .customer:hover .dropanel2{
    display: block;
}
.topbar .inner .qlink .contact .dropanel3{
    display: none;
    box-sizing: border-box;
    position: absolute;
    background-color: white;
    min-width: 100%;
    padding: 34px 12px 0px 14px;
    top: -4px;
    left: -11px;
    box-shadow: 0 0 3px rgba(0,0,0,.25);
}
.topbar .inner .qlink .hcenter{
    position: relative;
    font-size: 12px;
}
.topbar .inner .qlink .contact .dropanel3 span{
    background: url(../images/zx.jpg) no-repeat;
    width: 89px;
    height: 98px;
}
.topbar .inner .qlink .contact:hover .dropanel3{
    display: block;
}
.masthead{
    height: 120px;
}
.masthead .logo,.masthead .location,.masthead .search{
    float: left;
}
.masthead .logo{
    margin-top: 20px;
    width: 223px;
    height: 80px;
    margin-right: 25px;
}
.masthead .location{
    width: 81px;
    height: 29px;
    margin-top: 50px;
    margin-right: 33px;
    position: relative;
}
.masthead .location > span{
    display: block;
    position: relative;
    box-sizing: border-box;
    padding-left: 12px;
    line-height: 29px;
    border: 1px solid #e4e4e4;
    cursor: pointer;
    font-size: 12px;
}
.masthead .location .arrow{
    position: absolute;
    width: 11px;
    height: 6px;
    background: url(../images/icons1.png) no-repeat -289px -33px;
    right: 10px;
    top: 50%;
    margin-top: -3px;
}
.masthead .location .city{
    display: none;
    box-sizing: border-box;
    width: 402px;
    padding: 5px 0;
    position: absolute;
    background-color: white;
    border: 1px solid #e4e4e4;
    margin-top: -1px;
    z-index: 10;
}
.masthead .location ul span,.masthead .location ul li{
    line-height: 26px;
    float: left;
    font-size: 12px;
}
.masthead .location li{
    margin-right: 12px;
}
.masthead  .location ul span{
    padding-left: 15px;
    width: 30px;
    color: #FF8201;
}
.masthead  .location a:hover{
    color:#FF8201 ;
}
.masthead .location:hover .city{
    display: block;
}
.masthead .search{
    width: 504px;
    height: 68px;
    margin-top: 15px;
    position: relative;
}
.masthead .search .top_search,.masthead .search .main_search,.masthead .search .hot_search{ 
    position: absolute;
}
.masthead .search .top_search{
    width: 80px;
    height: 32px;
    background-color: #FF8201;
    color: white;
    font-size: 12px;
    text-align: center;
    line-height: 32px;
    cursor: pointer;
    border: 1px solid #FF8201;
}
.masthead .search .main_search{
    border: 2px solid #FF8201;
    width: 502px;
    height: 32px;
    top: 34px;
}
.masthead .search .main_search .input{
    height: 32px;
    width: 410px;
    background: url(../images/ioc_01.gif) no-repeat 0 0;
    padding-left: 32px;
    color: #4b4b4b;
    font-size: 12px;
}
.masthead .search .main_search button{
    width: 92px;
    height: 32px;
    background-color: #ff8201;
    color: white;
    font-size: 16px;
}
.masthead .search .hot_search{
    height: 32px;
    text-align: center;
    top:76px;
    font-size: 12px;
}
.masthead .search .hot_search b{
    font-size: 12px;
    margin-left: 15px;
}
.masthead .search .hot_search b.limit{
    color: #0000FF;
}.masthead .search .hot_search b.hot{
    color: #FF0000;
}
.masthead .star{
    float: right;
    width: 253px;
    height: 76px;
    color: white;
    margin-top: 15px;
} 
.topbar .inner .qlink .my:hover .order{
    z-index: 99;  
  }
.topbar .inner .qlink .contact:hover .hcenter{
    z-index: 99;  
}
.topbar .inner .qlink .customer:hover .dropanel2{
    z-index: 99;  
}
.navbar{
    background-color: #FF8200;
  }
.topnav_menu{
    line-height: 45px;
    text-align: center;
    color: white;
}
.topnav_cate{
    float: left;
    width: 190px;
    background-color: #FFAD00;
}
.topnav_menu{
    float: right;
    width: 1010px;
    background-color: #FF8201;
}
.navbar .topnav_menu .small_menu{
    text-align: right;
}
.navbar .topnav_menu .small_menu a:hover{
    text-decoration: underline;
}
.navbar .topnav_menu .small_menu span{
    vertical-align: middle;
    display: inline-block;
    width: 17px;
    height: 14px;
    font-size: 12px;
    text-align: center;
    background: url(../images/icons4.png) no-repeat 50% 50%;
    padding-right: 12px;
    margin-bottom:3px ;
}
.navbar .topnav_menu .main_menu .menu li{
    float: left;
}
.navbar .topnav_menu .main_menu .menu li a{
    display: block;
    width: 120px;
    font-size: 16px;
    font-weight: bold;
    background: url(../images/icons1.png) no-repeat; 
}
.navbar .topnav_menu .main_menu .menu a:hover{ 
    background-position: -217px -519px;
}
.navbar .topnav_menu .main_menu .menu li .first{
    background-position: -203px -519px;
}
.bodyer{
    position: relative;
    height: 3831px;
}
.bodyer .top_bg{
    height: 420px;
    width: 100%;
}
.bodyer .inner{
    width: 1200px;
    height: 420px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -600px;
}
.bodyer .inner .left_nav{
    width: 190px;
    height: 420px;
    background-color: white;
}
.bodyer .inner .left_nav li{
    border: 1px solid #E8E8E8;
    color: #777777;
    border-top: none;
    background: url(../images/icons1.png) no-repeat;
    background-color: #FAFAFA;
    position: relative;
}
.bodyer .inner .left_nav li .pa_le a{
    
    line-height: 60px;
    padding-left: 55px;
}
.bodyer .inner .left_nav li a:hover{
    color: #ff8201;
}
.bodyer .inner .left_nav li.first{
    background-position: -8px -38px;
}
.bodyer .inner .left_nav li.second{
    background-position: -3px -149px;
}
.bodyer .inner .left_nav li.third{
    background-position: -3px -260px;
}
.bodyer .inner .left_nav li.fourth{
    background-position: -3px -370px;
}
.bodyer .inner .left_nav li.fifth{
    background-position: -3px -482px;
}
.bodyer .inner .left_nav li.sixth{
    background-position:-3px -593px;
}
.bodyer .inner .left_nav .submenu{
    display: none;
    position: absolute;
    width: 560px;
    height: 320px;
    border: 1px solid #E8E8E8;
    background-color: white;
    z-index: 999;
    left: 189px;
    top: 0;
    padding: 20px;
    font-size: 14px;
}
/* first */
.bodyer .inner .left_nav .first:hover{
    background-position: -3px -94px;
    background-color: white;
}
.bodyer .inner .left_nav .first:hover .submenu{
    display: block;
}
.bodyer .inner .left_nav .submenu{
    font-size: 12px;
    height: 490px;
    padding:6px 20px 20px 20px;
    border: 1px solid #E8E8E8;
}
.bodyer .inner .left_nav  .black{
    color: black;
}
.bodyer .inner .left_nav  .red{
    color: red;
}
.bodyer .inner .left_nav  .red:hover{
    color: red;
}
.bodyer .inner .left_nav  .purple{
    color: purple;
}
.bodyer .inner .left_nav .blue{
    color: blue;
}
.bodyer .inner .left_nav .blue:hover{
    color: blue;
}
.bodyer .inner .left_nav .orange{
    color: orange;
}
.bodyer .inner .left_nav .green{
    color: green;
}
.bodyer .inner .left_nav .green:hover{
    color: green;
}
.bodyer .inner .left_nav .bold{
    font-weight: bold;
}
.bodyer .inner .left_nav  .line{
    margin-left: 4px;
    margin-right: 4px;
    color: #ccc;
    font-style: normal;
}
.bodyer .inner .left_nav dl{
    border-bottom: 1px solid #f0f0f0;
}
.bodyer .inner .left_nav  dl.noborder{
    border-bottom: none;
}
.bodyer .inner .left_nav  dt,
.bodyer .inner .left_nav  dd{
    float: left;
    padding: 14px 0;
}
.bodyer .inner .left_nav dt{
    width: 80px;
    font-weight: bold;
}
.bodyer .inner .left_nav dd.meal{
    padding: 8px 0;
}
.bodyer .inner .left_nav  .meal{
    line-height: 2.5;
}
.bodyer .inner .left_nav .submenu .fangpian a{
    display: inline-block;
    width: 270px;
    height: 180px;
    margin-top: 20px;
    background: url(../images/防诈骗.jpg) no-repeat;
}
/* second */
.bodyer .inner .left_nav .second:hover{
    background-position: -3px -205px;
    background-color: white;
}
.bodyer .inner .left_nav .second:hover .broadband{
    display: block;
}
.bodyer .inner .left_nav .broadband{
    display: none;
    position: absolute;
    width: 560px;
    height: 550px;
    border: 1px solid #E8E8E8;
    background-color: white;
    z-index: 999;
    left: 189px;
    top: -61px;
    padding: 6px 20px 20px 20px;
    font-size: 12px;
}
.bodyer .inner .left_nav .broadband .kuandai a{
    display: inline-block;
    width: 270px;
    height: 180px;
}
.bodyer .inner .left_nav .broadband .kuandai .left{
    background: url(../images/新装宽带.jpg);
    float: left;
}
.bodyer .inner .left_nav .broadband .kuandai .right{
    background: url(../images/续约.jpg);
    float: right;
    margin-right: 10px;
}
/* thrid */
.bodyer .inner .left_nav .third:hover{
    background-position: -3px -316px;
    background-color: white;
}
.bodyer .inner .left_nav .third:hover .intelligence{
    display: block;
}
.bodyer .inner .left_nav .intelligence{
    display: none;
    position: absolute;
    width: 560px;
    height: 400px;
    border: 1px solid #E8E8E8;
    background-color: white;
    z-index: 999;
    left: 189px;
    top: -122px;
    padding: 0 20px 20px 20px;
    font-size: 12px;
}
/* fouth */
.bodyer .inner .left_nav .fourth:hover{
    background-position: -3px -426px;
    background-color: white;
}
.bodyer .inner .left_nav .fourth:hover .charges{
    display: block;
}
.bodyer .inner .left_nav .charges{
    display: none;
    position: absolute;
    width: 560px;
    height: 400px;
    border: 1px solid #E8E8E8;
    background-color: white;
    z-index: 999;
    left: 189px;
    top: -183px;
    padding: 0 20px 20px 20px;
    font-size: 12px;
}
/* fifth */
.bodyer .inner .left_nav .fifth:hover{
    background-position: -3px -538px;
    background-color: white;
}
.bodyer .inner .left_nav .fifth:hover .cost{
    display: block;
}
.bodyer .inner .left_nav .cost{
    display: none;
    position: absolute;
    width: 560px;
    height: 400px;
    border: 1px solid #E8E8E8;
    background-color: white;
    z-index: 999;
    left: 189px;
    top: -244px;
    padding: 0 20px 20px 20px;
    font-size: 12px;
}
/* sixth */
.bodyer .inner .left_nav .sixth:hover{
    background-position: -3px -649px;
    background-color: white;
}
.bodyer .inner .left_nav .sixth:hover .business{
    display: block;
}
.bodyer .inner .left_nav .business{
    display: none;
    position: absolute;
    width: 560px;
    height: 610px;
    border: 1px solid #E8E8E8;
    background-color: white;
    z-index: 999;
    left: 189px;
    top: -305px;
    padding: 0 20px 20px 20px;
    font-size: 12px;
}
.bodyer .inner .right_nav{
    width: 225px;
    height: 410px;
    background-color: white;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 5px;
    border: 1px solid #E4E4E4;
}
.bodyer .inner .right_nav .top_nav .huango{
    height: 16px;
    padding:8px 25px;
    background-color: #F4F4F4;
}
.bodyer .inner .right_nav .top_nav .huango .huanhuan{
    position: relative;
}
.bodyer .inner .right_nav .top_nav .huango i{
    font-style: normal;
    margin-left: 10px;
}
.bodyer .inner .right_nav .top_nav .huan_super{
    display: none;
    padding-left:20px;
    padding-top: 18px;
    background-color: white;
    width: 205px;
    height: 150px;
    position: absolute;
    top: 33px;
    left: 0;
}
.bodyer .inner .right_nav .top_nav .huan_super p{
    text-align: center;
    font-weight: bold;
    font-size: 12px;
}
.bodyer .inner .right_nav .top_nav .huan_super a{
    float: left;
    width: 63px;
    text-align: center;
    padding-bottom: 20px;
}
.bodyer .inner .right_nav .top_nav .huango .value:hover{
    color: #FF8201;
}
.bodyer .inner .right_nav .top_nav .huango .value:hover+.huan_super{
    display: block;
    z-index: 99;
}
.bodyer .inner .right_nav .top_nav .huango b{
    display: inline-block;
    width: 12px;
    height: 12px;
    background: url(../images/icons1.png) no-repeat;
    padding-right: 2px;
}
.bodyer .inner .right_nav .top_nav .huango .rich b{
    background-position: -231px -226px;
}
.bodyer .inner .right_nav .top_nav .huango .value b{
    background-position: -230px -296px;
}
.bodyer .inner .right_nav .top_nav .huango .value:hover b{
    background-position: -231px -332px;
}
.bodyer .inner .right_nav .top_nav .huan_logo{
    padding-left:20px;
    padding-top: 18px;
    width: 205px;
    height: 150px;
}
.bodyer .inner .right_nav .top_nav .huan_logo p{
    text-align: center;
    font-weight: bold;
    font-size: 12px;
}
.bodyer .inner .right_nav .top_nav .huan_logo a{
    float: left;
    width: 63px;
    text-align: center;
    margin-bottom: 20px;
}
.bodyer .inner .right_nav .top_nav .huanhuan,.bodyer .inner .right_nav .top_nav .super{
    display: inline-block;
}
.bodyer .inner .right_nav .top_nav .small_line{
    display: inline-block;
    width: 224px;
    height: 15px;
    text-align: center;
    background: url(../images/icons1.png) no-repeat;
    background-position: -217px -570px;
}
.bodyer .inner .right_nav .center_nav{
    font-size: 12px;
    font-weight: bold;
}
.bodyer .inner .right_nav .center_nav .ora,
.bodyer .inner .right_nav .center_nav .bank{
    color: #FF8201;
}
.bodyer .inner .right_nav .center_nav .first_1{
    margin-left: 14px;
    margin-top: 8px;
}
.bodyer .inner .right_nav .center_nav .first_2 label{
    cursor: pointer;
}
.bodyer .inner .right_nav .center_nav .first_2 b{
    display: inline-block;
    margin-right: 10px;
}
.bodyer .inner .right_nav .center_nav .first_2{
    margin-left: 14px;
    margin-top: 10px;
}
.bodyer .inner .right_nav .center_nav .first_3{
    margin-left: 24px;
    margin-top: 8px;
}
.bodyer .inner .right_nav .center_nav .first_3 input{
    border: 1px solid #ccc;
    width: 115px;
    height: 20px;
    margin-left: 10px;
    padding-left: 5px;
}
.bodyer .inner .right_nav .center_nav .first_3 input:focus{
    border: 1.5px solid black;
    border-radius: 4px;
}
.bodyer .inner .right_nav .center_nav .first_4{
    margin-left: 24px;
    margin-top: 8px;
}
.bodyer .inner .right_nav .center_nav .first_4 select{
    width: 64px;
    height: 24px;
    border: 1px solid #ccc;
    margin-left: 8px;
    font-size: 12px;
    color: inherit;
    margin-right: 5px;
    font-weight: bold;
    outline: none;
}
.bodyer .inner .right_nav .center_nav .first_5{
    margin-left: 10px;
    margin-top: 6px;
}
.bodyer .inner .right_nav .center_nav .first_5 input{
    width: 52px;
    height: 20px;
    margin-left: 10px;
    border: 1px solid #ccc;
    padding-left: 5px;
}
.bodyer .inner .right_nav .center_nav .first_6 button{
    margin-left: 24px;
    margin-top: 6px;
    margin-bottom: 10px;
    height: 24px;
    background-color: #FF8201;
    color: white;
    width: 100px;
    border-radius: 4px;
    font-weight: bold;
}
.bodyer .inner .right_nav .center_nav i{
    font-style: normal;
    margin: 0 15px;
    font-weight: normal;
    color: #ccc;
}
.bodyer .inner .right_nav .center_nav .small_line{
    display: inline-block;
    width: 224px;
    height: 15px;
    text-align: center;
    background: url(../images/icons1.png) no-repeat;
    background-position: -196px -570px;
}
.bodyer .inner .right_nav .slide{
    position:absolute;
    bottom: 8px;
}
.bodyer .inner .right_nav .slide .sli{
    width: 20px;
    margin-left: 9px;
    font-size: 12px;
    background: url(../images/icons1.png) no-repeat;
    background-position:-286px -639px;
    font-weight: bold;
}
.bodyer .inner .right_nav .slide a:hover{
    background-position:-226px -639px;
    color: #FF8201;
}
.bodyer .inner .right_nav .slide span{
    padding-left: 14px;
}
.bodyer .inner .right_nav .slide marquee{
    width: 150px;
    height: 14px;
    font-size: 12px;
    font-weight: bold;
  }
  .bodyer .inner .right_nav .slide marquee:hover{
      color: #FF8201;
  }
.bodyer .content{
    width: 1200px;
    height: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}
.bodyer .content .left_advert{
    float: left;
}
.bodyer .content .right_advert{
    float: left;
    font-size: 0;
}
.bodyer .content .right_advert .space{
    margin-bottom: 2px;
}
.bodyer .content .right_advert img{
    margin-right: 2px;
}
.bodyer .content .right_advert .last{
    margin-right: 0;
}
.bodyer .content .subtance div{
    margin-top: 40px;
}
.bodyer .content .subtance ul,
.bodyer .content .subtance li{
    box-sizing: border-box;
}
.bodyer .content .subtance ul{
    float: left;
}
.bodyer .content .subtance .posi{
    position: relative;
}
.bodyer .content .subtance span{
    display: inline-block;
    margin-left: 20px;
    vertical-align: middle;
    font-weight: bold;
    position: absolute;
    top: 24px;
}
.bodyer .content .subtance .sub_first{
    width: 190px;
    height: 420px;
}
.bodyer .content .subtance .sub_second{
    width: 405px;
    height: 420px;
    border-top: 1px solid #E4E4E4;
    border-bottom: 1px solid #E4E4E4;
}
.bodyer .content .subtance .sub_third,
.bodyer .content .subtance .sub_fourth,
.bodyer .content .subtance .sub_fifth{
    width: 201px;
    height: 420px;
    border: 1px solid #E4E4E4;
    border-right: none;
}
.bodyer .content .subtance .sub_fifth{
    width: 201px;
    border-right: 1px solid #E4E4E4;
}
.bodyer .content .subtance .first_content{
    height: 100px;
    background-color: #FFBA24;
}
.bodyer .content .subtance .first_content a{
    float: left;
    margin-top: 20px;
    text-align: center;
    width: 90px;
}
.bodyer .content .subtance .first_content,
.bodyer .content .subtance .second_content{
    color: white;
    font-weight: bold;
    font-size: 12px;
}
.bodyer .content .subtance .first_content .fir_fi{
    width: 97px;
    height: 65px;
    background: url(../images/icons1.png) no-repeat;
    background-position: -302px -199px;
}
.bodyer .content .subtance .second_content{
    padding-top: 30px;
    padding-left: 20px;
    height: 320px;
    background-color: #FEDA60;
}
.bodyer .content .subtance .second_content p{
    display: inline-block;
    padding-top: 10px;
    width: 178px;
    height: 2px;
    background: url(../images/icons1.png) no-repeat;
    background-position: -238px -863px;
    text-align: center;
    margin-top: 16px;
}
.bodyer .content .subtance1 .second_content .unline:hover{
    text-decoration: underline;
}
.bodyer .content .subtance .sub_third,
.bodyer .content .subtance .sub_fourth,
.bodyer .content .subtance .sub_fifth{
    font-weight: bold;
    color: #4B4B4B;
    text-align: center;
}
.bodyer .content .subtance .li_high{
    border-bottom: 1px solid #e4e4e4; 
    height: 255px;
    padding-top: 35px;
}
.bodyer .content .subtance .li_short{
    padding-top: 20px;
}
.bodyer .content .subtance .entire{
    height: 418px;
    background-color: #F5F5F7;
    padding-top: 74px;
}
.bodyer .content .subtance .entire p{
    margin-bottom: 28px;
}
.bodyer .content .subtance .sb2_bg1{
    background-color: #FF5C2B;
}
.bodyer .content .subtance .sb2_bg2{
    background-color: #FF9767;
}
.bodyer .content .subtance .sb3_bg1{
    background-color: #62C751;
}
.bodyer .content .subtance .sb3_bg2{
    background-color: #9DE090;
}
.bodyer .content .subtance .sb4_bg1,
.bodyer .content .subtance .sb6_bg1{
    background-color: #1BA5E4;
}
.bodyer .content .subtance .sb4_bg2,
.bodyer .content .subtance .sb6_bg2{
    background-color: #55CDF0;
}
.bodyer .content .subtance .sb5_bg1{
    background-color: #ABD738;
}
.bodyer .content .subtance .sb5_bg2{
    background-color: #D2EA78;
}
.bodyer .content_nav{
    margin-top: 40px;
    margin-left: 100px;
}
.bodyer .content_nav li{
    float: left;
    width: 210px;
    height: 55px;
}
.bodyer .content_nav span{
    float: left;
}
.bodyer .content .co_t{
    padding-top: 5px;
}
.bodyer .content_nav span p{
    margin-left: 16px;
    font-weight: bold;
}
.bodyer .content .cnav_b{
    font-size: 18px;
}
.bodyer .content .cnav_s{
    font-size: 16px;
}
.footer{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.footer .guide{
    height: 248px;
    float: left;
    border-bottom: 1px solid #EEEEEE;
    border-top: 1px solid #EEEEEE;
    margin-top: 32px;
    margin-bottom: 15px;
}
.footer .guide .guide_1{
    margin-right: 70px;
} 
.footer .guide ul{
    float: left;
    padding-top: 30px;
    font-size: 12px;
    font-weight: bold;
}
.footer .guide li:hover{
    color: #FF8201;
}
.footer .guide .sort{
    font-size: 14px;
}
.footer .guide .guide_2,
.footer .guide .guide_3,
.footer .guide .guide_4,
.footer .guide .guide_5,
.footer .guide .guide_6{
    width: 127px;
}
.footer .guide .guide_2 li,
.footer .guide .guide_3 li,
.footer .guide .guide_4 li,
.footer .guide .guide_5 li,
.footer .guide .guide_6 li{
    height: 24px;
}
.footer .guide .guide_8{
    margin-left: 46px;
}
.footer .guide .guide_8 li{
    float: left;
    margin-left: 14px;
}
.footer .guide .guide_8 p{
    margin-bottom: 10px;
}
.footer .guide .guide_8 li:hover{
    color: #777;
}
.footer .partner .pa_title{
    font-weight: bold;
}
.footer .partner .other{
    color: #ccc;
    padding: 0 20px;
    font-style: normal;
}
.footer .partner p{
    margin-top: 10px;
}
.footer .partner .part{
    font-size: 12px;
    font-weight: bold;
}
.footer .partner .part i{
    padding: 0 5px;
    font-style: normal;
}
.footer .partner .part a:hover{
    color: #FF8201;
    text-decoration: underline;
}
.footer .manage{
    margin-top: 30px;
    font-size: 12px;
    text-align: center;
    font-weight: bold;
}
.footer .manage a:hover{
    color: #FF8201;
}
.footer .manage i{
    font-style: normal;
    padding: 0 20px;
}
.footer .manage .ma_2 span{
    margin: 0 2px;
}
.footer .manage .ma_2{
    margin-top: 10px;
    margin-bottom: 30px;
}
.footer .manage .ma_3 img{
    height: 34px;
    object-fit: contain;
    margin: 0 2.5px;
}
.footer .manage .ma_3{
    margin-bottom: 40px;
}